<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>demo-gather</title>
  <script src="/cesium/Cesium.js"></script>
</head>
<body>
    <!-- <link rel="stylesheet/less" type="text/css" href="/css/spreadCommon.less" /> -->
    <div id="root"></div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3yOdjnneI4QhI7Ilhb7FYfXxoypn9X39"></script>
    <script src="/js/aliyun-upload-sdk-1.5.0.min.js"></script>
    <script src="/js/es6-promise.min.js"></script>
    <script src="/js/aliyun-oss-sdk-5.3.1.min.js"></script>
    <script src="https://unpkg.com/pdf-lib@1.4.0"></script>
    <script src="https://unpkg.com/downloadjs@1.4.7"></script>
</body>
</html>