._bim_modal_{
    width:100%;
    height: 100%;
    position: relative;
    .btn_box{
        position: absolute;
        padding: 0px 10px 10px;
        left:30px;
        bottom:30px;
        border:1px solid red;
        z-index:1;
        text-align: center;
    }
    .btn_switch_off{
        width:40px;
        height:40px;
        border-radius: 50%;
        background:#4b85fc;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        transition: all .5s;
    }
    .btn_switch_on{
        width:40px;
        height:40px;
        border-radius: 50%;
        background:red;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        transform: rotate(45deg);
        transition: all .5s;
    }
    .btn_other_on{
        height:140px;
        margin-bottom: 20px;
        transition: all .5s;
    }
    .btn_other_off{
        margin-bottom: 20px;
        height:1px;
        overflow: hidden;
        transition: all .5s;
    }
    .btn_item{           
        width:40px;
        height:40px;
        margin-top: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        background: #ccc;
    }

    #bimContainer{
        width:100%;
        height: 100%;
        .cesium-viewer-zoomIndicatorContainer,.cesium-viewer-bottom{
            display:none !important
        }
    } 
}
:global{
    #bimContainer{
        width:100%;
        height: 100%;
        .cesium-viewer-zoomIndicatorContainer,.cesium-viewer-bottom{
            display:none !important
        }
    }
    
}